*                           @Org-Syntax/sm-po1-jhamilton @Org-Syntax/scrummaster-sm
/src/                       @Org-Syntax/sm-po1-jhamilton @Org-Syntax/scrummaster-sm
/docs/                      @Org-Syntax/sm-po1-jhamilton @Org-Syntax/scrummaster-sm
/.github/                   @Org-Syntax/scrummaster-sm
/docs/rubrica-evaluacion.md @Org-Syntax/scrummaster-sm